.flex, .header .header__wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  background-color: #504848;
  color: #fff;
}

.aside__item {
  margin-bottom: 15px;
}

.aside__item:last-child {
  margin-bottom: 55px;
}

.header {
  background-color: #2d2c2c;
}
.header .header__wrap .header__img {
  width: 20%;
}
.header .header__wrap .header__content {
  text-align: center;
  margin: 0 auto;
}
.header .header__wrap .header__content .header__title,
.header .header__wrap .header__content .article__title {
  margin: 30px 0 100px;
  font-size: 56px;
  color: #ffc5ad;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.header .header__wrap .header__content .header__text {
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.main {
  margin: 0 auto;
  display: flex;
}

.aside {
  margin-top: 50px;
  width: 35%;
  margin-left: 5%;
}
.aside .aside__title {
  color: #ffc5ad;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-bottom: 1px solid #9b725e;
  width: 40%;
}
.aside .aside__link {
  color: #fff;
  text-decoration: none;
}
.aside .link {
  list-style-image: url(../assets/img/linkedin.svg);
}
.aside .phone {
  list-style-image: url(../assets/img/old-typical-phone.svg);
}
.aside .email {
  list-style-image: url(../assets/img/email.svg);
}
.aside .location {
  list-style-image: url(../assets/img/location.svg);
}

.article {
  width: 50%;
}

.code__title,
.port__title,
.article__title,
.summary__title,
.edu__title,
.cert__title,
.exp__title {
  margin: 100px 0 40px;
  padding: 5px 20px 10px;
  background-color: #2d2c2c;
  color: #ffc5ad;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.summary .summary__text,
.summary .exp__item {
  font-size: 16px;
  line-height: 30px;
}

.edu__text {
  word-spacing: 5px;
}

.exp__item {
  font-size: 16px;
  line-height: 30px;
}

.edu__item {
  margin-bottom: 15px;
}

.cert {
  margin-bottom: 50px;
}

.summary {
  position: relative;
}
.summary::before {
  content: " ";
  position: absolute;
  display: block;
  width: 1px;
  height: 140px;
  left: -100px;
  background-color: #ffc5ad;
  transition: all 0.5s;
  -webkit-animation-name: identifier;
          animation-name: identifier;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.exp {
  position: relative;
}
.exp::before {
  content: " ";
  position: absolute;
  display: block;
  width: 1px;
  height: 200px;
  left: -100px;
  background-color: #ffc5ad;
  transition: all 0.5s;
  -webkit-animation-name: identifier2;
          animation-name: identifier2;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.edu {
  position: relative;
}
.edu::before {
  content: " ";
  position: absolute;
  display: block;
  width: 1px;
  height: 270px;
  left: -100px;
  background-color: #ffc5ad;
  transition: all 0.5s;
  -webkit-animation-name: identifier3;
          animation-name: identifier3;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.cert {
  position: relative;
}
.cert::before {
  content: " ";
  position: absolute;
  display: block;
  width: 1px;
  height: 230px;
  left: -100px;
  background-color: #ffc5ad;
  transition: all 0.5s;
  -webkit-animation-name: identifier4;
          animation-name: identifier4;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.port {
  position: relative;
  margin-bottom: 170px;
}
.port::before {
  content: " ";
  position: absolute;
  display: block;
  width: 1px;
  height: 230px;
  left: -100px;
  background-color: #ffc5ad;
  transition: all 0.5s;
  -webkit-animation-name: identifier5;
          animation-name: identifier5;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.port .port__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.port .port__list .port__item {
  width: 30%;
  height: 15%;
  list-style: none;
  transition: transform 0.5s;
}
.port .port__list .port__item:hover {
  transform: scale(1.2);
}
.port .port__list .port__item .port__link .port__img {
  width: 100%;
  height: auto;
}

.code {
  position: relative;
}
.code::before {
  content: " ";
  position: absolute;
  display: block;
  width: 1px;
  height: 230px;
  left: -100px;
  background-color: #ffc5ad;
  transition: all 0.5s;
  -webkit-animation-name: identifier5;
          animation-name: identifier5;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.code,
.port,
.summary,
.cert,
.exp,
.edu {
  transition: transform 0.5s;
}
.code:hover,
.port:hover,
.summary:hover,
.cert:hover,
.exp:hover,
.edu:hover {
  transform: scale(1.1);
}

@-webkit-keyframes identifier {
  0% {
    height: 160px;
  }
  50% {
    height: 40px;
    background-color: #9b725e;
  }
  100% {
    height: 160px;
  }
}

@keyframes identifier {
  0% {
    height: 160px;
  }
  50% {
    height: 40px;
    background-color: #9b725e;
  }
  100% {
    height: 160px;
  }
}
@-webkit-keyframes identifier2 {
  0% {
    height: 200px;
  }
  50% {
    height: 40px;
    background-color: #9b725e;
  }
  100% {
    height: 200px;
  }
}
@keyframes identifier2 {
  0% {
    height: 200px;
  }
  50% {
    height: 40px;
    background-color: #9b725e;
  }
  100% {
    height: 200px;
  }
}
@-webkit-keyframes identifier3 {
  0% {
    height: 270px;
  }
  50% {
    height: 40px;
    background-color: #9b725e;
  }
  100% {
    height: 270px;
  }
}
@keyframes identifier3 {
  0% {
    height: 270px;
  }
  50% {
    height: 40px;
    background-color: #9b725e;
  }
  100% {
    height: 270px;
  }
}
@-webkit-keyframes identifier4 {
  0% {
    height: 230px;
  }
  50% {
    height: 40px;
    background-color: #9b725e;
  }
  100% {
    height: 230px;
  }
}
@keyframes identifier4 {
  0% {
    height: 230px;
  }
  50% {
    height: 40px;
    background-color: #9b725e;
  }
  100% {
    height: 230px;
  }
}
@-webkit-keyframes identifier5 {
  0% {
    height: 700px;
  }
  50% {
    height: 40px;
    background-color: #9b725e;
  }
  100% {
    height: 700px;
  }
}
@keyframes identifier5 {
  0% {
    height: 700px;
  }
  50% {
    height: 40px;
    background-color: #9b725e;
  }
  100% {
    height: 700px;
  }
}
@-webkit-keyframes identifier6 {
  0% {
    height: 750px;
  }
  50% {
    height: 40px;
    background-color: #9b725e;
  }
  100% {
    height: 750px;
  }
}
@keyframes identifier6 {
  0% {
    height: 750px;
  }
  50% {
    height: 40px;
    background-color: #9b725e;
  }
  100% {
    height: 750px;
  }
}
span {
  display: block;
}

.footer {
  padding: 30px 0;
}
.footer .footer__block {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer .footer__block .footer__list {
  display: flex;
  list-style: none;
}
.footer .footer__block .footer__list .footer__item {
  margin-right: 100px;
  background-repeat: no-repeat;
  background-size: 100px 40px;
  background-position: center center;
  width: 100px;
  height: 30px;
  border-radius: 50%;
  -webkit-animation-name: foot;
          animation-name: foot;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
.footer .footer__block .footer__list .footer__item .footer__link {
  color: #fff;
  text-decoration: none;
  padding: 15px 50px;
}
@-webkit-keyframes foot {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes foot {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.footer .footer__block .footer__list .footer__item:nth-child(1) {
  cursor: pointer;
  background-image: url(../assets/img/github.jpg);
}
.footer .footer__block .footer__list .footer__item:nth-child(2) {
  cursor: pointer;
  background-image: url(../assets/img/3b1e150f96dba260172b129a281bc9ab.jpg);
}
.footer .footer__block .footer__text {
  margin-right: 100px;
}/*# sourceMappingURL=style.css.map */